<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/login.css" />
    <script src="/static/login.js" type="module"></script>
    <title>Lab 4 - login</title>
</head>

<body>
    <h1> Авторизация </h1>
    <hr/>

    <div class="container">
        <label for="login"> Логин </label><br/>
        <input id="login" type="text" placeholder="Введите логин"><br/>

        <label for="password"> Пароль </label><br/>
        <input id="password" type="password" placeholder="Введите пароль"><br/>

        <button id="enterBtn"> Войти </button>
    </div>
</body>
</html>